<div class="row">
    <div class="col-md-6">
        <img src="img/runner.jpg" class="img-circle img-responsive" id="about-image"></img>
    </div>
    <div class="col-md-6" id="about">
        <h2>My name is Lucy...</h2>
        <p>
            I am a runner.  I am not crazy.  I am not insane.  I am a runner.
            When I was in fifth grade, I decided I was going to join the track team.
            Track sounds fun, right?  I thought so, at the time.
        </p>
        <p>
            But, I never thought I would become a distance runner. Looking back now, 
            choosing distance running was one of the best decisions I have ever made.
            Running cross country and track has taught me so many important life lessons.
            Being a distance runner can put a lot of stress on your body.
        </p>
        <p>
            I know this from experience.  Whether it's shin pain, side cramps, or the occasional throwing up,
            I still get up, decide to lace up, and continue putting in the miles every single day.
            There are times that I complain about how I don't want to go to practice because I have work to do,
            or I would rather nap, but then I remember that I have a team and coaches that are counting on me.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-2 col-md-offset-3">
        <a href="twitter.com" class="btn btn-primary btn-block">
            <i class="fa fa-twitter fa-4x"></i>
        </a>
    </div>
    <div class="col-md-2">
        <a href="facebook.com" class="btn btn-primary btn-block">
            <i class="fa fa-facebook fa-4x"></i>
        </a>
    </div>
    <div class="col-md-2">
        <a href="youtube.com" class="btn btn-danger btn-block">
            <i class="fa fa-youtube fa-4x"></i>
        </a>
    </div>
</div>
<div class="row col-md-offset-4">
        <!-- Twitter -->
    <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
    </a>
        <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>
    
    <!-- Google+ -->
    <a href="https://plus.google.com/share?url=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
    </a>
    
    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
    </a>
</div>
